<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="dashboard.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/view_users">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Users Details</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/viewCrops">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Crops</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/viewDisease">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Disease</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/manageFeedback" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Mange Feedback</span>

            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>

            </a>
        </li>
    </ul>
</nav>
